@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 160px 20px magenta inset;
  }
  33% {
    box-shadow: 0 0 160px 20px yellow inset;
  }
  66% {
    box-shadow: 0 0 160px 20px green inset;
  }
  100% {
    box-shadow: 0 0 160px 20px blue inset;
  }
}

.glowborder {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: 5s infinite ease-in-out alternate glow;
}

.bg{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 20%;
  background-position: center center;
  background-image: url('/images/themes/calendar2024/bg.jpg');
  animation: 5s infinite ease-in-out alternate pulse;
}


.cellgroup {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.cell1,
.cell2,
.cell3,
.cell4 {
  flex: 1;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.frame1 {
  .cell1{
    background-image: url('/images/themes/calendar2024/kappa1.png');
  }
  .cell2{
    background-image: url('/images/themes/calendar2024/kappa2.png');
  }
  .cell3 {
    background-image: url('/images/themes/calendar2024/kappa3.png');
  }
  .cell4 {
    background-image: url('/images/themes/calendar2024/kappa4.png');
  }
}
.frame2 {
  .cell1{
    background-image: url('/images/themes/calendar2024/kappa2.png');
  }
  .cell2{
    background-image: url('/images/themes/calendar2024/kappa3.png');
  }
  .cell3 {
    background-image: url('/images/themes/calendar2024/kappa4.png');
  }
  .cell4 {
    background-image: url('/images/themes/calendar2024/kappa1.png');
  }
}
.frame3{
  .cell1{
    background-image: url('/images/themes/calendar2024/kappa3.png');
  }
  .cell2{
    background-image: url('/images/themes/calendar2024/kappa4.png');
  }
  .cell3 {
    background-image: url('/images/themes/calendar2024/kappa1.png');
  }
  .cell4 {
    background-image: url('/images/themes/calendar2024/kappa2.png');
  }
}
.frame4{
  background-color: pink;
  .cell1{
    background-image: url('/images/themes/calendar2024/kappa4.png');
  }
  .cell2{
    background-image: url('/images/themes/calendar2024/kappa1.png');
  }
  .cell3 {
    background-image: url('/images/themes/calendar2024/kappa2.png');
  }
  .cell4 {
    background-image: url('/images/themes/calendar2024/kappa3.png');
  }
}

.marqueetop,
.marqueeright,
.marqueebottom,
.marqueeleft {
  position: absolute;
  display: flex;
  justify-content: stretch;
}

.loading,
.loaded {
  transition: opacity .5s;
}
.loading {
  opacity: 0;
}

.marqueetop, 
.marqueebottom {
  flex-direction: row;
  .cellgroup {
    flex-direction: row;
  }
}

.marqueeleft,
.marqueeright {
  flex-direction: column;
  .cellgroup {
    flex-direction: column;
  }
}

.marqueetop {
  top: 0;
  left: 64px;
  height: 64px;
  width: calc(100% - 64px);
}
.marqueeright {
  top: 64px;
  right: 0;
  width: 64px;
  height: calc(100% - 64px);
}
.marqueebottom{
  bottom: 0;
  height: 64px;
  width: calc(100% - 64px);
}
.marqueeleft{
  top: 0;
  left: 0;
  width: 64px;
  height: calc(100% - 64px);
}

.cta {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  a {
    font-size: 32px;
    background-color: white;
    animation: 5s infinite ease-in-out alternate-reverse pulse;
    width: 240px;
    backdrop-filter: blur(2px);
    text-align: center;
    background-color: rgba(0, 0, 255, 0.5);
    box-shadow: 0 0 40px 8px white, 0 0 24px white inset;
    border-radius: 100%;
    color: white;
    padding: 24px;
    text-decoration: none;
    font-family: sans-serif;
  }
}

