@mixin bp($class) {
  @if $class == xs {
    @media (min-width: 350px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1536px) {
      @content;
    }
  }
}

@mixin f1 {
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;

  @include bp(sm) {
    font-size: 24px;
  }
}

@mixin metal {
  background: linear-gradient(#FFF 0%, #B7B7B7 100%);
  // box-shadow: 0px 2px 8px $black-transparent inset;

  @include bp (sm) {
    // box-shadow: 0px 2px 24px $black-transparent inset;
  }
}

@mixin rainbow-gradient {
  background: linear-gradient(90deg,
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(360, 100%, 50%)
  );
}

$white: #fff;
$black: #000;
$black-transparent: #000000aa;

$gray: #eee;
$gray-medium: #b3b3b3;
$gray-shadow: #A7A7A7;
$blue: #0000ff;
$blue-transparent: #0000ffaa;
$green: #3efb00;
$cyan: #00FCB0;
$skyblue: #B9D2F9;
$yellow: #ffea00;
$pink: #ed43cb;