
@keyframes float {
  from { transform: translateY(0%); }
  to { transform: translateY(-50%); }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 160px 20px yellow inset;
  }
  100% {
    box-shadow: 0 0 160px 20px green inset;
  }
}

.bg {
  width: 100%;
  height: 1000%;
  background-image: url('/images/themes/bumpersticker2024/flappy-cloud.gif');
  background-size: 33%;
  background-position: center center;
  position: absolute;
  animation: float 60s infinite linear;
}

.cta {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  @include f1;

  .ctabg {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 80px 20px white inset;
    pointer-events: none;
    transition: box-shadow .5s;
    background-size:100%;
    background-position: center center;
  }

  a {
    color: black;
    background-color: #ffffff99;
    box-shadow: 0 0 80px 20px skyblue;
    width: 240px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    transition: transform .05s;
    @include bp(sm) {
      width: 330px;
      height: 88px;
      line-height: 88px;
    }

    &:hover {
      color: transparent;
      background-image: url('/images/themes/bumpersticker2024/sticker.jpg');
      background-size: cover;
      box-shadow: 0 0 40px 4px yellow, 0 0 80px 40px lime;
      border: .5px dashed black;
      transform: rotate(-1deg);
    }
  }
}

