
@keyframes float {
  from { transform: translateY(0%); }
  to { transform: translateY(-50%); }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 32px 8px $white;
  }
  100% {
    box-shadow: 0 0 4px 4px $white;
  }
}

.bg {
  width: 100%;
  height: 1000%;
  background-image: url('/images/projects/calendar2025/sticker2.gif');
  background-size: 33%;
  background-position: center center;
  position: absolute;
  animation: float 60s infinite linear;
}

.cta {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  @include f1;
  transition: box-shadow .25s;
  box-shadow: 0 0 24px $black inset;
  

  a {
    cursor: pointer;
    background-color: $black;
    color: $white;
    text-decoration: none;
    padding: 4px 40px;
    box-shadow: 0 0 32px 16px $white;
    animation: glow 2s linear infinite alternate;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

