.main {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
}

.background {
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.sky {
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.cloudsleft,
.cloudsright {
  position: absolute;
  top: -50%;
  width: 50%;
  height: 300%;
  box-sizing: border-box;
  background-size: 50%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background-image: url('/images/projects/calendar2025/sky.jpg');
    background-size: 50%;
  }
}

.cloudsleft {
  left: 0;
  &::after {
    left: 0;
    animation: scrollright 10s linear infinite;
  }
}

.cloudsright {
  right: 0;
  &::after {
    right: 0;
    transform: scaleX(-1);
    animation: scrollleft 10s linear infinite;
  }
}

.bottom {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.grass {
  position: relative;
  width: 100%;
  height: 100%;
  transform: perspective(60px) rotateX(10deg);

  &::after {
    content: '';
    position: absolute;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    background-image: url('/images/projects/calendar2025/grass.jpg');
    background-size: 10% 10%;
    animation: scrollback 5s linear infinite;
  }
}

.foreground {
  position: absolute;
  position: aboslute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  z-index: 10;

  @include bp(sm) {
    flex-direction: row;
    gap: 24px;
  }
}



.baseball {
  height: 100%;
  width: 100%;
  flex: 2;

  @include bp(sm) {
    flex: 1;
  }
}

.wrapper {
  flex: 1;
  display: flex;
}

.ctablock {
  flex:1;
  padding: 24px;
  margin: 24px;
  border-radius: 24px;
  background-color: #ffffff00;
}

.calcover {
  height: 100%;
  opacity: .9;
  object-fit: contain;
  border-radius: 24px;
  box-shadow: 0 0 8px 8px #ffffff;
}


@keyframes scrollleft {
  0% {
    transform: translateX(0%) translateY(0);
  }

  100% {
    transform: translateX(50%) translateY(-50%);
  }
}

@keyframes scrollright {
  0% {
    transform: translateX(0%) scaleX(-1) translateY(0);
  }

  100% {
    transform: translateX(-50%) scaleX(-1) translateY(-50%);
  }
}

@keyframes scrollback {
  0% {
    transform: translateY(0%) ;
  }

  100% {
    transform: translateY(-10%);
  }
}