.wrapper {  
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  top: -328px;
  z-index: 20;

  transition: width .25s, opacity .25s;
  @include bp(sm) {
    top: 0;
    position: relative;
    flex-direction: row;
    gap: 32px;
  }
  @include bp(lg) {
    height: 100%;
    top: 32px;
    position: sticky;
    width: 320px;
    flex-direction: column;

  }
  @include bp(xxl) {
    width: 400px;
  }
}

.collapsed {
  opacity: 0;
  width: 0;
}

@keyframes hue {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(360deg); }
}

.hero {
  background-image: url('/images/hero.gif');
  background-repeat: repeat;
  background-size: 100% 100%;
  height: 320px;
  border-radius: 24px;
  box-shadow: 0px 0px 16px 2px #FF00C7 inset, 0px 0px 4px 2px #FF00C7;
  @include bp(sm) {
    width: 50%;
  }
  @include bp(lg) {
    width: 100%;
    box-shadow: 0px 0px 24px 4px #FF00C7 inset, 0px 0px 8px 4px #FF00C7;
  }
  @include bp(xxl) {
    height: 400px;
  }

  &:hover {
    background-image: url('/images/herohover.gif');
    animation: hue .25s infinite linear;
  }
}

.nav {
  flex: 1;
  display: flex;
  gap: 16px;
  @include bp(sm) {
    gap: 32px;
    flex-direction: column;
  }
}

.anchor {
  flex: 1;
  border-radius: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $black;
  transition: box-shadow .5s;


  &:hover{
    &:nth-child(1) {
      box-shadow:  0px 0px 16px 2px  $blue inset, 0px 0px 8px 4px  $blue;
    }
    &:nth-child(2) {
      box-shadow:  0px 0px 16px 2px $cyan inset, 0px 0px 8px 4px $cyan;
    }
    &:nth-child(3) {
      box-shadow:  0px 0px 16px 2px $yellow inset, 0px 0px 8px 4px $yellow;
    }
    &:nth-child(4) {
      box-shadow:  0px 0px 16px 2px $green inset, 0px 0px 8px 4px $green;
    }
  }

  
  @include f1;
  @include metal;
  @include bp(lg) {
    flex: 1 56px;
  }
}